## Words

In [3]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [4]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
for i in words:
    print (i.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [5]:
for w in words:
    if len(w)>=5:
        print(w)

filling
theatre
easygoing
story
island

**Print the first word starting with "t"**

In [6]:
print (words)

['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

In [7]:
print (words [0][:1])

p

In [91]:
print (words[1].startswith("t"))

False

In [97]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
for i in words:
    if i.startswith("t") == True:
        print (i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [9]:
new_list=[]
for i in range (1,11):
    new_list.append(i**2)
    
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [10]:
odds=[]

for i in range (1,11):
    if i%2!=0:
        odds.append(i)
        
print (odds)

[1, 3, 5, 7, 9]

**Create a list with the squares of all multiples of 8 below 1000**

In [11]:
new_list2=[]
for i in range (8, 81, 8):
    if i%8 == 0 and i**2<1000:
        new_list2.append(i**2)

print (new_list2)

[64, 256, 576]

## People

In [12]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [13]:
len(people)

5

In [22]:
people

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 1},
 {'name': 'Lucía', 'age': 22, 'n_kids': 2},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [30]:
people [1]

{'name': 'Pepe', 'age': 27, 'n_kids': 0}

In [32]:
print (people[1])

{'name': 'Pepe', 'age': 27, 'n_kids': 0}

In [35]:
print (people[0]['n_kids'])

2

In [74]:
values=()
for i in people:
    print (i['n_kids'])

2
0
1
2
5

In [55]:
values= [people['n_kids'] for i in people if 'n_kids' in i]

TypeError: list indices must be integers or slices, not str

**How many people have kids**?

In [80]:
count=0
for i in people:
    if (i['n_kids'])>0:
        count += 1

print (count)

4

**How many kids do they have in total?**

In [87]:
values=[]
for i in people:
    values.append(i['n_kids'])

sum (values)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [98]:
year=people
print (year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [100]:
for i in year:
    if i['name'].endswith("a")== True:
        i['n_kids']+=1

print (year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]